
<%-include('plantillas/cabecera', {titulo: 'ejecutar_etl'})%>

<%-include ('plantillas/navbar') %>


<div class="container" style="max-width: 650px"> 


    

            <h4>ETLs ejecutados</h4>
            <hr>
          <table class="table table-borderless">
            <thead>
              <th>Dimension</th>
              <th>filas afectadas</th>
              <th>resultado</th>
            </thead>
            <tbody>
              <% etl_ejecutados.forEach(elemento => { %>
                  <tr>
                    <td><%=elemento.etl %></td>
                    <td><%=elemento.filas_afectadas %></td>
                    <td><%=elemento.mensaje%></td>
                  </tr>
              <% }) %>
            </tbody>
          </table>

</div>


</body>
</html>